In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
df = pd.read_csv("taxi_1m.csv")

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (19,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,unique_key,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_latitude,pickup_longitude,pickup_location,dropoff_latitude,dropoff_longitude,dropoff_location
0,7add8da2d38f6c900afe4ef2d9f58082fe24a7a6,c49f0ddc62fe52ff6d19832b7168a6818f17d8ccb7f59a...,2015-10-15 22:30:00+00:00,2015-10-15 22:45:00+00:00,1080.0,8.4,NaN,NaN,14.0,NaN,...,5.0,26.45,Cash,Taxi Affiliation Services,41.968069,-87.721559,POINT (-87.7215590627 41.968069),NaN,NaN,NaN
1,0026fa0e63aa811b282328230b15bfeaa346b7a6,1e5b69c83640bd5225fb3ccc33bc989b859f3e4cdb59f6...,2015-10-15 01:00:00+00:00,2015-10-15 01:15:00+00:00,720.0,7.6,NaN,NaN,14.0,NaN,...,0.0,17.25,Cash,Dispatch Taxi Affiliation,41.968069,-87.721559,POINT (-87.7215590627 41.968069),NaN,NaN,NaN
2,d4b1c10236b77b0d93eb539c330a2f30f844d634,d3a5f1452b4a1db2a547e7a0aabfe28d67c62b0e40155f...,2015-10-30 02:15:00+00:00,2015-10-30 02:45:00+00:00,1500.0,18.3,NaN,NaN,14.0,NaN,...,1.0,45.90,Credit Card,Dispatch Taxi Affiliation,41.968069,-87.721559,POINT (-87.7215590627 41.968069),NaN,NaN,NaN
3,324c18250ae3d67895c975bd57b9099a666893da,b4536ae68b6ac3fbe936c28e5c6739c9145a08443e70a7...,2015-10-30 21:00:00+00:00,2015-10-30 21:00:00+00:00,0.0,0.0,NaN,NaN,14.0,NaN,...,0.0,3.25,Cash,Taxi Affiliation Services,41.968069,-87.721559,POINT (-87.7215590627 41.968069),NaN,NaN,NaN
4,06ba210ec4ad4e1fa24ccf891aeda2a3bc96a0be,ad33dffdd6cd00795ea1a00a6a6db1a38482075d532b55...,2015-09-26 08:30:00+00:00,2015-09-26 08:45:00+00:00,720.0,3.6,NaN,NaN,14.0,NaN,...,0.0,10.65,Cash,Dispatch Taxi Affiliation,41.968069,-87.721559,POINT (-87.7215590627 41.968069),NaN,NaN,NaN

In [4]:
df_profile = df.sample(n=10000, replace=False).reset_index(drop=True).copy()

In [5]:
# Create profiling
profile = ProfileReport(df_profile)

# Save report to file
profile.to_file("report.html")

/usr/local/lib/python3.5/dist-packages/pandas_profiling/base.py:319: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  variable_stats = pd.concat(ldesc, join_axes=pd.Index([names]), axis=1)